<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=201707121806" />
    <META HTTP-EQUIV="Pragma"CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control"CONTENT="no-cache">
    <META HTTP-EQUIV="Expires"CONTENT="0">
    <link href="{{ asset('bundles/admin/css/style.css') }}?v=20170629" rel="stylesheet">
    <style>
        .password-box span.tip-error-login {
            width:20%;
        }
        .forget-password {
            text-decoration: none;
            font-size: 14px;
        }
    </style>
</head>
<body class="height-index">
<div class="password-box login-index">
    <img src="{{ asset('bundles/admin/img/logo-login.png') }}?v=20170526" class="logo" alt="">
    <form action="" method="post" id="password-form" autocomplete="off">
        <p>
            <span>邮箱：</span><input type="text" name="mail" value="">

            <span class="tip-error-login">{{ error.content }}</span>
        </p>
        <input type="submit" class="password-submit" value="提交">
    </form>
</div>
<script src="{{ asset('bundles/admin/js/jquery-2.1.1.js') }}?v=20170120"></script>
<script>
    $(function(){
        // 登录验证
        $('.password-submit').click(function(){
            var account = $('.password-box input').eq(0).val();
            if (account == '') {
                alert("账户不能为空！");
                return false;
            } else {
                $('#password-form').submit();
            }
        })
    })
</script>
</body>
</html>