{% extends 'AdminBundle::layout.html.twig' %}
{% block title %}
	会员管理 增减积分
{% endblock %}

{% block css %}
	<style>
		.fl {
			float: left;
			margin-right: 6px;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="ibox float-e-margins">
		<div class="ibox-content">
			<div class="table-responsive">
				<div class="current-location">
					当前位置：<a href="javascript:;">增减积分</a>
				</div>

				<div class="order-information">
					<form action="" method="post" id="form" enctype="multipart/form-data">
						<div class="form-group">
							<label for="">姓名：</label>
							<span>{{ user.name | default('无') }}</span>
						</div>
						<div class="form-group">
							<label for="">手机号：</label>
							<span>{{ user.phone }}</span>
						</div>
						<div class="form-group">
							<label for="">积分余额：</label>
							<span>{{ user.points }}积分</span>
						</div>
						<div class="form-group">
							<label for="">类型：</label>
							<select name="point_type" id="" class="point_type">
								<option value="1">增加积分</option>
								<option value="2">减少积分</option>
							</select>
						</div>
						<div class="form-group">
							<label for="">积分数额：</label>
							<input type="text" name="point_limit" class="point_limit" placeholder="请输入积分数额">
						</div>
						<div class="form-group">
							<label for="">消费金额：</label>
							<input type="text" name="amount" class="amount" placeholder="请输入消费金额">
						</div>
						<div class="form-group">
							<label for="" class=" fl">备注：</label>
							<textarea name="mark" id="" cols="30" rows="10" class="mark" placeholder="请填写备注（选填）"></textarea>
						</div>
						<div class="form-group">
							<input type="button" value="保存" class="banner_save">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script>
		$(function() {
			// 验证为具体数字
			var cell = /^[0-9]*[1-9][0-9]*$/;
			// 验证金额
			var money =/^\d+(\.\d{1,2})?$/;
			
			$('.point_type').change(function () {
				var point_type = $(this).val();
				if (point_type == 2) {
					$('.amount').parent('div.form-group').hide();
				} else {
					$('.amount').parent('div.form-group').show();
				}
			})


			var coupon_number = '{{ app.request.get('coupon_number') }}';
			if (coupon_number != 0) {
				$('.point_type').attr('disabled', 'disabled');
			}

			//点击保存 
			$('.banner_save').click(function () {
				var id = '{{ user.id }}';
				var point_type = $('.point_type').val();
				var point_limit = $('.point_limit').val();
				var amount = '';
				if (point_type == 2) {
					amount = 0.00;
				} else {
					amount = $('.amount').val();
					if (!money.test(amount) ) {
						alert('消费金额大于等于0并且最多保留两位小数');
						return false;
					}
				}
				var mark = $('.mark').val();
				if (!cell.test(point_limit) && point_limit != 0) {
					alert('积分额度大于等于0');
					return false;
				}
//				else if (mark == '' || mark.length > 50) {
//					alert('备注不能为空或则最多输入50个汉字');
//					return false;
//				}
				else {
					var data = {user_id:id, coupon_number:coupon_number, point_type:point_type, point_limit:point_limit, amount:amount, mark:mark}
					var url = '{{ path('admin_member_change_points') }}';
					$.post(url, data, function (result) {
						if (result.flag == 0) {
							alert(result.content);
							{#window.location.href = '{{ path('admin_index') }}';#}
						} else if (result.flag == 6) {
							alert(result.content);
						} else {
							alert(result.content);
							{#window.location.href = '{{ path('admin_index') }}';#}
						}
					})
				}
			})
		})
	</script>
{% endblock %}