{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    优惠券
{% endblock %}

{% block css %}
    <style>
        .console-index {
            padding: 0;
            border: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ibox float-e-margins">
        <div class="ibox-content" >
            <div class="table-responsive">
                <div class="current-location">
                    当前位置：<a href="javascript:;">优惠券</a>
                </div>
                <a href="{{ path('admin_coupon_edit', {id:0}) }}" class="add-btn">添加</a>
                <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>优惠券ID</th>
                        <th>优惠券名称</th>
                        <th>优惠券金额</th>
                        <th>优惠类型</th>
                        <th>有效期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {% for item in coupon %}
                        <tr class="gradeA">
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>
                                {% if item.type == 1 %}
                                    {{ item.amount }}
                                {% else %}
                                    /
                                {% endif %}
                            </td>
                            <td>
                                {% if item.type == 1 %}
                                    金额优惠券
                                {% else %}
                                    非金额优惠券
                                {% endif %}
                            </td>

                            <td>{{ item.day }}天</td>
                            <td>
                                {% if item.is_used == 0 %}
                                    <a href="{{ path('admin_coupon_edit', {id:item.id}) }}" class="skill-edit">编辑</a>{% if item.id > 3 %}|<a href="{{ path('admin_coupon_del', {id:item.id}) }}" class="skill-delete">删除</a>{% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            // 删除
            $('.skill-delete').click(function(){
                if (confirm('是否删除该优惠券？')) {
                    return true;
                } return false;
            })
        })
    </script>
{% endblock %}
