{#
{{dump()}}
ajax 个人信息修改api '{{path('user_personal_info_change', {type:2})}}' post方式

type含义 type:1：头像 2：昵称 3：姓名 4:性别 5:手机号 6:生日 7:qq号 8:邮箱
参数 nickname name sex phone birthday qq mail
使用方法：路由后添加type值，
type==1是，参数是navatar_update
type==2是，参数是nickname
type == 3，参数是name
type == 4，参数是sex
type == 5，参数是phone
type == 6，参数是birthday
type == 7，参数是qq
type == 8，参数是mail#}

{% extends  '@User/layout.html.twig' %}

{% block title %}个人信息{% endblock %}

{% block style %}
    <style>
        .avatar img{
            width:50px;
            height:50px;
            border:1px solid #000;
            border-radius:50%;
        }
        .alert{
            width:80%;
            margin:0 auto;
            position: fixed;
            top:25%;
            background:#0a6aa1;
            height:200px;
            left:25px;
        }
        .alert input{
            background: #0a6aa1;
            border:0;
            padding-left:4px;
            font:16px/24px "";
        }
        .hidden{
            display: none;
        }
        .base{
            padding:12px ;
        }
        .alertitle{
            text-align: center;
            width:100%;
            font:16px/24px "";
        }
        .btn{
            width:100%;
            display: flex;
            justify-content: space-around;
            font:16px/24px "";
        }
    </style>
{% endblock %}

{% block body %}
    {{ dump() }}
    <header>个人信息</header>
    <div class="avatar">
        <img src="{{ info.avatar }}"/>
        <input   id="upload" type="file" />
        <span class="avatarsub">提交</span>
    </div>
    <div class="nickname base" type="2">
        昵称：{{ info.nickname }}
    </div>
    <div class="name base" type="3">
        姓名：{{ info.name }}
    </div>
    <div class="sex base" type="4">
        性别：{% if info.sex == 0 %}男{% else %}女{% endif %}
    </div>
    <div class="phone base " type="5">
        手机号：{{ info.phone }}
    </div>
    <div class="birthday base" type="6">
        生日：{{ info.birthday }}
    </div>
    <div class="qq base" type="7">
        QQ号：{{ info.qq }}
    </div>
    <div class="mail base" type="8">
    邮箱：{{ info.mail }}
    </div>


    <div class="alert hidden">
        <div class="alertitle"></div>
        <input  class="inputform"/>
        <div class="btn">
            <span class="cancel">取消</span>
            <span class="ensure">确认</span>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        //头像提交
        $('.avatarsub').click(function () {
            var data = document.getElementById('upload');
            var file = new FormData();
            file.append('navatar_update', data.files[0]);
            file.append('type', '1');
            $.ajax({
                url: "{{ path('user_personal_info_change') }}",
                type: 'POST',
                data: file,
                processData: false,
                contentType: false,
                success:function (data) {
                    console.log(data);
                }
            });
        });
        $('.base').click(function(){
            var type = $(this).attr('type');
            console.log($(this));
            $('.alert').removeClass('hidden');
            var data = $('.inputform').val();
            switch (type){
                case '2': {
                    $('.alertitle').html('修改昵称');
                    /*console.log(type);*/
                    $('.ensure').click(function () {
                        var data = $('.inputform').val();
                        submit(2,'nickname',data);
                    });
                    break;
                }
                case '3': {
                    $('.alertitle').html('修改姓名');
                    $('.ensure').click(function () {
                        var data = $('.inputform').val();
                        submit(2,'name',data);
                    });
                    break;
                }
                case '4': {
                    $('.alertitle').html('修改性别');
                    $('.ensure').click(function () {
                        var data = $('.inputform').val();
                        submit(4,'sex',data);
                    });
                    break;
                }
                case '5': {
                    $('.alertitle').html('修改手机号');
                    $('.ensure').click(function () {
                        var data = $('.inputform').val();
                        submit(5,'phone',data);
                    });
                    break;
                }
                case '6': {
                    $('.alertitle').html('修改生日');
                    $('.ensure').click(function () {
                        var data = $('.inputform').val();
                        submit(6,'birthday',data);
                    });
                    break;
                }
                case '7': {
                    $('.alertitle').html('修改QQ号');
                    $('.ensure').click(function () {
                        var data = $('.inputform').val();
                        submit(7,'qq',data);
                    });
                    break;
                }
                case '8': {
                    $('.alertitle').html('修改邮箱');
                    $('.ensure').click(function () {
                        var data = $('.inputform').val();
                        submit(8,'mail',data);
                    });
                    break;
                }
            }
            $('.cancel').click(function () {
                $('.alert').addClass('hidden');
            });
            function submit(type,name,data){
                var send = {};
                send.type = type;
                send[name] = data;
                console.log(type);
                $.post("{{path('user_personal_info_change') }}",send,function (data) {
                    console.log(data);
                    $('.alert').addClass('hidden');
                });
            }
        });
    </script>
{% endblock %}
